@import url(images/lampada.png);

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Assistant', sans-serif;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #f3f9fb, #c7cfff, #73e2d7, #f3ecd3);
    background-size: 400% 400%;
    font-weight: 300;
    animation: ColorsAnimation 8s ease infinite;
}
@keyframes ColorsAnimation {
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}
#container{
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.445);
    width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    /* border: 1px solid red; */
    background-color: rgb(255, 255, 255);
}
header{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
header #tituloPrincipal{
    font-size: 70px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    padding: 30px 0px;
}
header #subtituloPrincipal{

    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;  

    /* margin-top: 20px; */
    font-weight: 400;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.527);

}
#telaInicial #video{
    margin: 40px;
}
#telaInicial{
    /* border: 1px solid black; */
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 22px;
    flex-direction: column;
}

#botaoComecar{
    margin: 30px;
    border-radius: 40px;
    border:none;
    font-size: 20px;
    color: white;
    font-weight: 700;
    background-color:rgb(0, 235, 51);
    width: 280px;
    height: 70px;
}
#botaoComecar:hover{
    background-color:rgb(0, 214, 46);
}
#botaoComecar:active{
    background-color:rgb(0, 167, 22);
}
#botaoComecar:focus{
    outline:0;
}
main{
    margin: 10px 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* ----------------------------------------------------- */

#telaDoJogo{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 800px;
    /* align-items: center; */
    /* border: 1px solid red; */
}
#paragrafoSaldo{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 26px;
    font-weight: 400;
}
#dinheiroInicial{
    align-items: center;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    font-weight: 700;
    font-size: 28px;
    /* color: rgb(0, 170, 23); */
    display: flex;
    justify-content: center;
}
#subtitle{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    font-size: 26px;
}
#divCampodeTexto{
    align-items: center;
    display: flex;
    flex-direction: column;
}
#AreaDeTexto{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(0, 172, 154);
    margin: 10px 0px 20px 0px;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    font-size: 22px;
}
#AreaDeTexto:focus{
    box-shadow: 0px 0px 25px rgb(117, 215, 240);
    outline: 0;
}
#dica{
    font-size: 22px;
}
#divBotaoChutar{
    align-items: center;
    display: flex;
    flex-direction: column;
}
#buttonChutar{
    
    width: 210px;
    border: none;
    background-color: #00c5df;
    color: white;
    font-weight: 700;
    font-size: 20px;
    /* border: 2px solid rgba(36, 36, 36, 0.185); */
    border-radius: 25px;
    height: 45px;
}
#buttonChutar:focus{
    outline: 0;
}
#buttonChutar:hover{
    background-color: #00a0bd;
}
#buttonChutar:active{
    box-shadow: 0px 0px 15px rgb(46, 130, 163);
    background-color: #006e81;
}
#resultado{
    display: flex;
    flex-direction: column;
    font-size: 23px;
    padding: 10px;
    border-radius: 20px;
    margin: 30px;
    /* height: 450px; */
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.383);
}
#espaçoNumeros{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
#dinheiroFinal{
    display: flex;
    justify-content: center;
}
#dicaContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
    padding: 10px;
    /* border: 1px solid red; */
    box-shadow: 0px 0px 15px black;
    border-radius: 30px;
    font-size: 16px;
}
#buttonDica{
    background: none;
    border: none;
    width: 60px;
    height: 60px;
    background-image: url(/css/images/lampada.png);
    background-size: cover;
    /* border: 1px solid red; */
    border-radius: 50%;
}
#buttonDica:focus{
    outline: 0;
}
.green{
    color: green;
    font-weight: 700;
}
.red{
    color: red;
    font-weight: 700;
}

@media (max-width: 1000px) {
    body{
        height: 0vh;
        /* font-size: 22px; */
    }
    #telaInicial{
        font-size: 18px;
    }
    #telaInicial h2{
        font-size: 20px;
        display: flex;
    }
    #container{
        width: 100%;
        min-height: 100vh;
    }
    header #tituloPrincipal{
        font-size: 26px;
    }
    #video{
        width: 230px;
    }
    #subtitle{
        display: flex;
    }
    #divCampodeTexto{
        width: 100%;
    }
    #AreaDeTexto{
        width: 100%;
        font-size: 16px;
    }
    #divDinheiroInicial{
        width: 100%;
        font-size: 20px;
    }
    #telaDoJogo{
        width: 85%;
    }
    #result, #dinheiroFinal, #dinheiroInicial, #paragrafoSaldo, #subtitle{
        font-size: 22px;
    }
}